/* Apply background image to the body */
body {
    background-image: url(./images/back2.png);
    background-size: cover;
    background-position: center;
}

/* Apply "Libre Baskerville" font to the navigation bar */
.nav {
    font-family: "Libre Baskerville", serif;
}

/* Apply "Satisfy" font to the main heading */
.main {
    font-family: "Satisfy", cursive;
}
